
#reactContainer
{
    background: #95DAE7;
    background: linear-gradient(to bottom right, #95DAE7, #89B4CA, #437C9E);
    padding: 10px;
}

.container
{
    height: 100vh;
}

.list-book 
{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    height: 95%;
    border: 1px solid black;
    max-height: 100%;
    overflow: auto;
}

.none { display: none; }